{!#LOOP_BEGIN.R182293#600369(4)}
        <div class="left" style="margin: 0px; margin-top: -6px; padding: 2px; height: 279px; width:318px; background-image: url({!#HOSTED_FILE.1404122#url})" style="background-size: 30px 28px">
        <div class="left" style="margin-left: 6px; height: 270px; width:310px;">
            <table>
                <tr>
                <td style="vertical-align: top;">
                <div style="height:35px;">
                    <div style="background: #4475ac; color: #fff; height: 30px; width: 130px; display: block; padding: 2px; margin-top: 5px; margin-left: 3px;">
                        <center><h2 style="font-size: 9px;margin-top:3px">{!R182293.name#text}</h2></center>
                    </div>
                </div>
                    
                    <div style="margin-top:-2px; max-height:50px; height:50px;">
                        <h3 class="blue">Investment Objective</h3>
                        <div style="height: 30px; width: 130px;"><p>{!R182293.investment_objective#value}</p></div>
                    </div>
    
                   <div style="margin-top:-1px;">
                    <div style=" height:87px;">
                        <h3 class="blue">Fund Information</h3>
                        <table class="hor-zebra" style="width: 130px;border-collapse:collapse;">
                            <tr class="odd">
                                <td width="50%" style="color:#000">Launch Date:</td>
                                <td align="right" style="color:#000">{!R182293.date_opened_formatted}</td>
                            </tr>
                            <tr class="even" >
                                <td style="color:#000">Fund Size ($m):</td>
                                <td align="right" style="color:#000">{!R182293.fund_size#value}</td>
                            </tr>
                            <tr class="odd">
                                <td colspan="2"style="color:#000"><p style="float:left; margin: 0;">Fund Type:</p><p style="float:right !important; margin: 0px -1px 0px 0px;">{!R182293.fund_type#value}</p></td>
                            </tr>
                            <tr class="even" style="color:#000">
                                <td style="color:#000">Mgmt Fee (%):</td>
                                <td align="right" style="color:#000">{!R182293.fund_total_management_fee#value}</td>
                            </tr>
                            <tr class="odd" style="color:#000">
                                <td style="color:#000">FER (%):</td>
                                <td align="right" style="color:#000">{!R182293.fund_expense_ratio#value}</td>
                            </tr>
                        </table>
                    </div>
                        <div style="margin-top:5px;">
                        <h3 class="blue">Investment Manager</h3>
                        <p style="background:#e7e7e8;width: 130px; text-align: left;">{!R182293.Investment_Managers__c}&nbsp;</p>
                        <h3 class="blue" style="margin-top:-5px">Risk Indicator</h3>
                        <table style="margin: 0px; margin-top:-5px;padding: 0px;width:130px;border-collapse:collapse;">
                            <tr>
                                <td style="background:#e7e7e8;margin: 0px; padding: 0px;">3yr Standard Deviation (%)</td>
                                <td style="background:#e7e7e8;margin: 0px; padding: 0px; width: 10px;">{!R182293.std_dev_3_str}</td>
                            </tr>
                        </table>
                    </div>
                    
                    </div>
                   
                </td>
                <td style="width: 170px;">
                    <div style="height: 93px;">
                        <h3 style="margin-top:3px" class="nomargin blue">Investment Allocation</h3>
                        <img style="margin-top:-2px;" border="1" src="{!R182293.asset_allocation_chart_parameters#value}" style="float: left;"  width="70" height="70"> 
    
                        <!--{!asset_allocation_legend}-->
                        
                        <div class="legend" style="width: 75px; height: 60px; margin-top:1px; margin-left: 3px;">
                            {!R182293.top_8_legend#value} 
                        </div>             
    
                    </div>
                    
                    <div style="margin-top: -9px;">
                        <h3 class="blue">Annualized Performance (% p.a.)</h3>
                        <table class="hor-zebra" style="border-collapse:collapse;border:1px solid #fff">
                        <tr>
                            <td colspan="5" width="100%" style="background-color:#929292; color:#fff"><center>Fund</center></td>
                        </tr>
                        <tr class="col odd annual-performance bg-gray">
                            <td align="center">1 Month</td>
                            <td align="center">3 Months</td>
                            <td align="center">1 Year</td>
                            <td align="center">3 Years</td>
                            <td align="center">5 Years</td>
                        </tr>
                        <tr class="col annual-performance bg-white">
                            <td align="center">{!R182293._1_Month#value}&nbsp;</td>
                            <td align="center">{!R182293._3_months#value}&nbsp;</td>
                            <td align="center">{!R182293._1_year#value}&nbsp;</td>
                            <td align="center">{!R182293._3_years#value}&nbsp;</td>
                            <td align="center">{!R182293._5_years#value}&nbsp;</td>
                        </tr>
                        </table>
                    </div>
                    
                    <div style="margin-top: -9px;">
                        <table class="hor-zebra" style="border-collapse:collapse;border:1px solid #fff">
                        <tr>
                            <td colspan="5" style="background-color:#929292; color:#fff; /* height: 20px; */"><center>{!R182293.index_fund}&nbsp;</center></td>
                        </tr>
                        <tr class="col odd annual-performance bg-gray">
                            <td align="center">1 Month</td>
                            <td align="center">3 Months</td>
                            <td align="center">1 Year</td>
                            <td align="center">3 Years</td>
                            <td align="center">5 Years</td>
                        </tr>
                        <tr class="col annual-performance bg-white">
                            <td align="center">{!R182293._1_month_index#value}&nbsp;</td>
                            <td align="center">{!R182293._3_months_index#value}&nbsp;</td>
                            <td align="center">{!R182293._1_year_index#value}&nbsp;</td>
                            <td align="center">{!R182293._3_years_index#value}&nbsp;</td>
                            <td align="center">{!R182293._5_years_index#value}&nbsp;</td>
                        </tr>
                        </table>
                    </div>
                    
                    <div style="width: 160px; margin-top: 13px;">
                        <h3 class="nomargin blue" style="margin-top: -11px;">Performance Chart</h3>
                        <img src="{!R182293.performance_chart_parameters#value}" style="margin-top: -8px; display: block; float: left; width: 165px; height: 60px;"> 
    
                        <table class="legend" style="display: block; width: 30px; margin-top:0px; margin-left:65px;">
                            <tr>
                                <td><div class="color" style="background-color:#bfbfbf; margin-top:-2px; height:1px;"></div></td>
                                <td class="text" width="6px" style="vertical-align:top;">&nbsp;Fund</td>
                                <td height="2px">&nbsp;&nbsp;</td>
                                <td><div class="color" style="background-color:#0000FF; margin-top:-2px; height:1px;"></div></td>
                                <td class="text" width="6px" style="vertical-align:top;">&nbsp;Index</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            </table>
        </div>
        </div>
        <!--<div class="breaker"></div>-->
        {!#LOOP_END.R182293}